.list-header {
	pointer-events: none;
	user-select: none;
}

.list-tool {
	cursor: pointer;
}

.forms {
	flex-grow: 1;
	margin-left: 10px;
}

.name-field {
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.custom-button {
	padding: 8px;
	margin-right: 10px;
	background-color: #0e90aa;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 500;
	border: none;
	border-radius: 10px;
	color: white;
	transition: 0.3s;

	&:hover {
		background-color: #1ab5d4;
	}
}

.splitbutton {
	display: flex;
	align-items: center;
	padding: 0;
	height: 37px;
	margin-bottom: 5px;
}

.splitbutton-right {
	padding: 8px;
	width: 37px;
	height: 100%;
	margin-right: 10px;
	background-color: #0e90aa;
	background-image: url("../assets/cross_white.png");
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: 6px 6px;
	border: none;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	color: white;

	&:hover {
		background-color: #1ab5d4;
	}
}

.splitbutton-left {
	padding: 8px;
	height: 100%;
	background-color: #0e90aa;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 500;
	border: none;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	color: white;

	&:hover {
		background-color: #1ab5d4;
	}
}

.custom-input {
	display: block;
	min-width: 150px;
	font-size: 14px;
	font-style: italic;
	padding: 8px;
	margin-right: 10px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.267);
	transition: height 0.3s;

	&:focus {
		outline: none;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.39);
	}
}

.create-input {
	font-size: 14px;
	font-style: italic;
	padding: 14px 12px 12px 12px;
	border: none;
	border-radius: 5px;
	transition: height 0.3s;

	&:focus {
		outline: none;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.39);
	}
}

.create-input-container {
	flex-grow: 1;
	display: flex;
	justify-content: right;
	margin-left: "15px";
}

.edit-button {
	margin-left: 8px;
	width: 25px;
	height: 25px;
	background-image: url("../assets/edit_pen.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:hover {
		cursor: pointer;
	}
}

.delete-button {
	width: 25px;
	height: 25px;
	background-image: url("../assets/delete_button.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:hover {
		cursor: pointer;
	}
}

.ban-button {
	width: 25px;
	height: 25px;
	background-image: url("../assets/ban-user.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:hover {
		cursor: pointer;
	}
}

.unban-button {
	width: 25px;
	height: 25px;
	background-image: url("../assets/allowed.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:hover {
		cursor: pointer;
	}
}

.apply-button {
	color: white;
	cursor: pointer;
	margin-right: 5px;
	padding: 5px;
	border-radius: 4px;
	background-color: rgb(50, 52, 156);

	&:hover {
		background-color: rgb(63, 65, 187);
	}
}
