.substrate {
	position: fixed;
	width: 100vw;
	height: 100vh;
	min-width: 1080px;
	z-index: -10;
	background-image: url("../assets/background_main.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
